*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #B0E5F5;
	font-family: sans-serif;
}

/*Aplica un estilo a la header del archivo*/
header{
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	background-color: #3498DB;
}
.ancho{
	width: 80%;
	height:70px;
	margin: auto;/*para que aparezaca centrado respecto al heaeder*/
}
.logo{
	width: 40%;
	height: 70px;
	float:left; /*para moverlo respecto a la clase ancho*/
	padding-top: 10px;
	box-sizing: border-box;
}
.logo p a{
	color:#FFF;
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
	font-family: monospace;
}
#logo-menu{

	width: 15%;
	float: left;
	padding-bottom: 5px;
}
nav{
	width: 60%;
	height:70px;
	float: left;
	text-align: right; /*para mover el menu a la derecha**/
	padding-top: 24px;
	box-sizing: border-box;/*para forzarle que ocupe la medida que nosotros prestablecimos*/
}
nav ul li{
	display: inline;/*para que la parde de la lista salga en linea*/
}
nav ul li a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	padding-left: 15px;/*agregar una seperacion de las letras del menu*/
	font-weight: bold;
	letter-spacing: 1px;
	font-family: monospace;
	text-transform: uppercase;
}
nav ul li a:hover{
	color:#444;
}
/*Regla que le da posicion al contendor principal*/
.principal{
	margin: 0px auto;
	width: 90%;
	background-color: white;
	margin-top: 6%;
	margin-bottom: 3%;
	padding: 10px;
	overflow: auto;
	/*margin: 20px;
	width: 45%;
	height: 475px;
	padding: 10px;
	border-radius: 25px;
	float: left;
	margin-bottom: 3%;*/
}

/*Aplica estilo para el footer de la pagina*/
footer{
	width: 100%;
	height: 135px;
	background-color: #3498DB;
	padding-top: 20px;
	margin-top: 1%; 
	text-align: center;
}

footer p{
	color: white;
	margin: 0;
	padding-top: 10px;
}
#contacto{
	margin:0 auto;
	padding: 10px;
}
#contacto td{
	padding-left: 15px;
}

.con{
	text-align: center;
}
.parrafo{
	float: left;
	margin-right:8px;
	margin-top: 3px;
	width: 40px;
	height: 36px;
}
.parrafo1{
	margin-right:8px;
	width: 200px;
	float: left;
	
}
.clear{
clear:both;
}
.numero:hover{
    background:peru;
}

.form{
	margin-left:100px ;
	width: 45%;
	height: 475px;
	background-color: #A9CCE3;
	padding: 10px;
	border-radius: 25px;
	float: left;
}
header{
	position: static;
}
label, input,p {
	margin-left: 20px;
}
button{
	margin-left: 20px;
	margin-bottom: 20px;
}
legend{
	text-align: center;

}
.viaje:hover{
	background: limegreen;
}
#mover{
	float: left;
	padding-left: 150px;
	
}